Actividad 4/Clientes.dtd/BDSMS/clientes.dtd

<!ELEMENT clientes (clientes*)>
<!ELEMENT clientes(codigo-sede, fecha, descripcion, codigo-clientes, numero, coste, resumen, plazo )>
<!ELEMENTcodigo-sede(#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>


<!ELEMENT codigo-cliente (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>
